header.layout-page-header {
    height: 42px;
    background-color: white;
    box-shadow: 0px 0px 7px 0px 
    rgba(108, 133, 145, 0.18);
    padding-left: 15px;
    display: flex;
    align-items: center;
}